@font-face {
  font-family: "Shentox";
  src: url("../fonts/shentox-medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ARS Maquette";
  src: url("../fonts/ars-maquette-regular.woff") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ARS Maquette italic";
  src: url("../fonts/ars-maquette-regular-italic.woff") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ARS Maquette Bold";
  src: url("../fonts/ars-maquette-bold-alt.woff") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avalon Bold";
  src: url("../fonts/avalon-bold.woff") format("woff2");
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    'ARS Maquette',
    'Helvetica Neue',
    Arial,
    sans-serif;
}
a {
  color: #f42;
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  height: 86px;

}

.nav_logo {

    top: 0;
    display: none;
  
    height: inherit;
}

.nav_logo_link {
  position: relative;
  z-index: 2;
  height: 100%;
  background-color: #f42;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
  display: block;
  padding: 16px 20px;

}

.nav_logo_link img {
  transition: transform .4s ease,-webkit-transform .4s ease;
  display: block;
  height: 100%;
  position: relative;
  width: 66px;
  z-index: 999;

}


.main_container {
  width: 100%;
  max-width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 32px rgba(0,0,0,.15);
}

.navbars {
  width: 100%;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #131313;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  max-height: 32px;
}

.top-nav-left {
  float: left;
}

.top-nav-right li,
.top-nav-left li {
  margin-left: 12px;
}

.main-nav-left ul li,
.main-nav-right ul li,
.top-nav-left ul li,
.top-nav-right ul li {
  display: inline-block;
}

.top-nav-left li:first-child {
  margin-left: 20px;
}

.main-nav-right li a,
.main-nav-left li a,
.top-nav-right li a,
.top-nav-left li a {
  color: hsla(0,0%,100%,.6);
  text-decoration: none;
}

.top-nav-right {
  padding-right: 10px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0 5px;
  width: 100%;
  border-bottom: solid 1px rgb(236, 236, 236);
  height: 54px;
}

.main-nav-right {

  border-left: solid 1px rgb(236, 236, 236);

}

.main-nav-left ul li a {
  font-family:
    'Shentox',
    sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #aaa;
  display: block;
  height: 40px;
  padding: 10px 10px 1px 12px;
}

.main-nav-right ul li a {
  font-family:
    'Shentox',
    sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #aaa;
  display: block;
  padding: 10px 0 3px 0;
}

.main-nav-right ul {
  display: flex;
  align-items: baseline;
}   

.main-nav-right li:last-child a {
  background-color: #0cc;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  line-height: 28px;
  padding: 1px 6px;
  font-size: 11px;
  text-align: center;
  width: 100px;
  height: 28px; 
}

#timer {
  color: #f42;
  font-family:
    'Shentox',
    sans-serif;
  font-size: 20px;
  vertical-align: baseline;
  font-weight: 500;
}

#ticket-sale {
  display: inline-block;
  width: 125px;
  vertical-align: middle;
  margin-right: 4px;
  height: 40px;
  max-width: 100%;
}

#conf-open {
  vertical-align: bottom;
  display: inline-block;
  position: relative;
  top: 0;
  font-family:
    'Shentox',
    sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #555;
  font-size: 12px;
  margin-right: 4px;
}

.mobile-nav {
  display: none;
  float: right;
}

.mobile-nav ul li {
  float: left;
}
.mobile-nav ul li::before {
  content: ' ';
  position: absolute;
  background-color: rgb(236, 236, 236);
  width: 1px;
  height: 10%;
  margin-left: 0px;

  top: 3px;
 
}

.mobile-nav-toggle span {
  transition: .4s;
    background-color: #f42;
    display: block;
    height: 2px;
    left: 14px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 20px;

}

.mobile-nav-toggle {
  display: block;
  height: 48px;
  opacity: .25;
  padding: 16px;
  width: 48px;
  opacity: 1!important;
  position: relative;
  z-index: 998;

}
.mobile-nav-toggle span:first-child {
  transform: translateY(-6px);
}

.mobile-nav-toggle span:last-child {
  transform: translateY(6px);
}


.search-icon {
  /* background-position: 848px 848px; */
  display: block;
  background: transparent url('https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/icons-sprite.svg?1520429355783') no-repeat;
  background-position: -832px -832px;
  background-size: auto;
  width: 16px;
  height: 16px;
  margin: 16px 16px 0;

}

.learn_more_btn {
  position: relative;
  bottom: 3px;

}

#ticket-sale img {
  vertical-align: top;
}

@media (max-width: 1113px) and (min-width: 1023px) {
  .countdown_bloc, .nav_logo {
    display: none;
  }

  #search-icon {
    margin: 16px 16px;
  }
}

@media (max-width: 1113px) and (min-width: 842px) {

  .countdown_bloc #ticket-sale, .countdown_bloc #conf-open, .countdown_bloc .learn_more_btn {
    display: none;
  }
  .main-nav-right {
    position: relative;
    bottom: 5px;
    right: 5px;
  }
  .nav_logo {
    
    left: 0;
    height: 100%;
    top: 0;
    width: 110px;
    display: unset;
  }
  
  .nav_logo_link img {
    transition: transform .4s ease,-webkit-transform .4s ease;
    display: block;
    height: 100%;
    position: relative;
    width: 66px;
    z-index: 999;
  }
  .navbars {
    width: 90%;
  }

}

@media (max-width: 841px) and (min-width: 500px) {

  .nav_logo {
    
    left: 0;
    height: 100%;
    top: 0;
    width: 110px;
    display: unset;
  }
  
  .nav_logo_link img {
    transition: transform .4s ease,-webkit-transform .4s ease;
    display: block;
    height: 100%;
    position: relative;
    width: 66px;
    z-index: 999;
  }
.main-nav-left {
 
}
.countdown_bloc #ticket-sale, .countdown_bloc #conf-open, .countdown_bloc .learn_more_btn, #timer {
  display: none;
}
.top-nav-right {
  visibility: hidden;
}
}

@media (max-width: 768px) {

  .top-nav {
    display: none;
  }
  .main-nav-left {
    display: none;
  }
  nav,  .nav_logo{
    height: 48px;
  }
  .main-nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    border-bottom: none;
    height: 54px;
  }
  .mobile-nav {
    display: unset;
  }
  #search-icon {
    display: none;
  }
}

.hero-container {
  display: flex;
  max-height: 560px;
  height: 60vh;
  width: 100%;
  /* margin-top: 10px; */
}

.big-image {
  height: 98%;
  width: 65%;
  background-color: deeppink;
  background-image: url('assets/images/big-image.jpg') center no-repeat;
  margin: 4px;
}

.small-image-container {
  height: 98%;
  width: 34%;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small-image-1 {
  background-color: greenyellow;
  height: 49%;
}

.small-image-2 {
  background-color: darkorange;
  height: 49%;
}

.latest-news-container {
  margin: 30px auto;
  width: 70%;
  height: 530px;
  max-height: 600px;
  background-color: seashell;
  display: flex;
  flex-direction: column;
}

.latest-news-container > h2 {
  color: red;
  padding: 0 18px;
}

.latest-news-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: mediumblue; */
  height: 562px;
  width: 100%;
}

.latest-news-inner {
  width: 294px;
  height: 251px;
  background-color: lime;
  margin: 15px;
}

.latest-funding-container {
  margin: 100px auto;
  width: 70%;
  height: 350px;
  max-height: 600px;
  background-color: seashell;
  display: flex;
  flex-direction: column;
}

.head-text {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
}

.head-text-right {
  padding-top: 10px;
}

.latest-funding-container .head-text span > h2 {
  color: red;
}

.latest-funding-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: mediumblue; */
  height: 560px;
  width: 100%;
}

.latest-funding-inner {
  width: 294px;
  height: 251px;
  background-color: yellow;
  margin: 15px;
}
